* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    background-color: rgb(243, 238, 186);
    color: rgb(97, 136, 125);
    font-family: 'Press Start 2P', cursive;
}
.game {
    text-align: center;
    margin-top: 6%;
}
#gameCanvas {
    width: 50%;
    border: 0.5rem solid rgb(70, 83, 84);
    background: rgb(118, 87, 81);
    z-index: -1;
}
.welcome {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    padding-top: 1%;
}
.welcome h1 {
    font-size: 3rem;
}
.highscore,
.score {
    width: 50%;
    float: left;
    text-align: center;
}
.head p {
    font-size: 1.5rem;
}
#playerScore,
#newHighScore {
    padding: 1%;
}
.overlay {
    text-align: center;
}
.left,
.right {
    width: 25%;
    float: left;
    color: rgb(243, 238, 186);
}
#gameStart {
    float: left;
    width: 50%;
    padding: 2%;
}
#gameOver {
    float: left;
    width: 50%;
    padding: 2%;
}
#start {
    padding: 2%;
    font-family: 'Press Start 2P', cursive;
}
@media screen and (max-width:800px) {
    .highscore, .score, #gameCanvas {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}